.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #37c237;
    --secondary-color: #0c880c;
    --inverted-primary-color: #4863b9;
    --inverted-secondary-color: #0449e0;
}
