:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #4863b9;
    --secondary-color: #0449e0;
    --inverted-primary-color: #38b238;
    --inverted-secondary-color: #016e01;
}
